# User-specific files
*.user
*.user.*pre*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
installer/

installer/windows/binaries/
.qtc_clangd/
.vs/

*.vc*proj*
*.sln
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
